<div class=" col-md-4 col-md-offset-4">
	<div class="panel panel-default">
		<div class="panel-heading">Zaloguj się</div>
		<div class="panel-body">
			<div class="col-md-12">
				<form role="form" ng-submit="login()">
					<div class="form-group">
						<label for="username">Username:</label>
						<input type="text" class="form-control" id="username" name="username" ng-model="credentials.username">
					</div>
					<div class="form-group">
						<label for="password">Hasło:</label>
						<input type="password" class="form-control" id="password" name="password" ng-model="credentials.password">
					</div>
					<button type="submit" class="btn btn-primary">Zaloguj</button>
					<button class="btn btn-primary" ui-sref="register">Zarejestruj się</button>

					<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
				</form>
			</div>
		</div>
	</div>
</div>