<style>
.user {
	font-weight: bold;
}

.logout {
	cursor: pointer;
	margin-left: 5px;
}
.navbar {
    background-color: black;
}
</style>

<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="report" style="color: greenyellow">Moje Sprawozdania </a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ng-show="user"><a ui-sref="users" style="color: greenyellow">Użytkownicy</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li ng-show="user"><a ui-sref="allreports" style="color: greenyellow">Wszystkie sprawozdania</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">

				<li ng-show="user"><a>
				<span class="user" style="color: greenyellow">{{user}} </span>
				<button class="btn btn-secondary" ng-click="logout()" href="" class="logout">
					<span class="glyphicon glyphicon-off"></span></button>
				</a></li>
				<li ng-show="!user"><a ui-sref="register" style="color: greenyellow">Zarejestruj
						się</a></li>
			</ul>
		</div>
	</div>
</nav>